<%= high_chart("histogramm_user_reschedule_interval", @histogramm_user_reschedule_interval) %>

Anzahl an Usern: <%= User.count %><br>
Anzahl an verschiedenen Global Streams: <%= GlobalStream.count %><br>
Anzahl User ohne streams: <%= Statistics::Dayly.where("value.type" => "user_stats", "value.global_streams_count" => 0, "private_streams_count" => 0).count %>

<%= high_chart("user_stats_global_stream_counts", @user_stats_global_stream_counts) %>

<%= high_chart("user_stats_private_stream_counts", @user_stats_private_stream_counts) %>

<%= high_chart("histogramm_abo_count", @histogramm_abo_count) %>

<h1>Artikellängen</h1>
<%= high_chart("histogramm_rss_article_length", @histogramm_rss_article_length) %>
<%= high_chart("histogramm_facebook_article_length", @histogramm_facebook_article_length) %>
<%= high_chart("histogramm_twitter_article_length", @histogramm_twitter_article_length) %>

<h1>Streamlängen</h1>
<%= high_chart("histogramm_rss_stream_length", @histogramm_rss_stream_length) %>

<%= high_chart("facebook_post_types_pie", @facebook_post_types_pie) %>